html 
{
  scroll-behavior: smooth;
}

*
{
	font-family: cursive;
}

body
{
	background-color: #FFFFE0;
}

.topBtn
{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
    border-radius: 10px;
    font-size: 115%;	
}