<div class="container-fluid" data-ng-controller="articleController">
	<div class="row mt-4">
		<div class="col-3">
			<div class="mx-5">
				<div class="row d-flex justify-content-center">
					<h4>Search for articles</h4>
				</div>			
				<div class="form-group mb-2">
					<label class="control-label" for="searchName">Name:</label>
					<input type="text" id="searchName" class="form-control searchInput" data-ng-model="name">		
				</div>
				<div class="form-group mb-2">
					<label class="control-label" for="searchDescription">Description:</label>
					<input type="text" id="searchDescription" class="form-control searchInput" data-ng-model="description">		
				</div>
				<div class="form-group mb-2">
					<label class="control-label" for="searchPrice">Price:</label>
					<div id="searchPrice">
						<input placeholder="From" type="number" step="1" class="form-control mb-2 searchInput" data-ng-model="priceFrom">
						<input placeholder="To" type="number" step="1" class="form-control searchInput" data-ng-model="priceTo">			
					</div>
				</div>
				<div class="row d-flex justify-content-center mt-4">
					<button class="btn btn-primary w-50" style="cursor:hand;" 
							data-ng-click="search(name, description, priceFrom, priceTo)"
							data-ng-disabled="!name && !description && !priceFrom && !priceTo">
							<span class="fa fa-search" style="font-size: 120%"></span>
							 Search
					 </button>
				</div>
				<div class="form-group mt-5 row d-flex justify-content-center" style="font-size: 120%">
					<label class="control-label ml-2" for="onsale"><input type="checkbox" id="onsale" data-ng-model="onSale" data-ng-click="displayOnSale(onSale)"> Display just articles on sale</label>
				</div>
			</div>
		</div>
		<div class="col-7">
			<div class="row d-flex justify-content-left">
				<div class="card my-2 mx-4 custom-card-shadow" data-ng-repeat="article in articles">		  
					<articles-repeater></articles-repeater>					  
				</div>
			</div>
		</div>
		<div class="col-2">		
			<div class="mr-5">
				<div class="form-group">
					<div class="row d-flex justify-content-center">
					<label class="control-label" for="sort">Sort articles</label>
					<select id="sort"
							class="form-control"
						 	data-ng-model="sortType"
						 	data-ng-change="sortTypeChanged(sortType)"
							data-ng-options="sortType.value as sortType.name for sortType in sortTypes">
						 	<option value="" selected="selected">Unsorted</option>
					</select>
					</div>
				</div>
				<div class="form-group mt-5">		
					<div class="row d-flex justify-content-center">
						<label class="control-label" for="category">Choose article category</label>
						<select id="category"
								class="form-control"
							 	data-ng-model="categoryId"
							 	data-ng-change="categoryChanged(categoryId)"
								data-ng-options="category.id as category.name for category in categories">
							 	<option value="" selected="selected">All</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<alerts></alerts>
</div>