<!DOCTYPE html>
<html data-ng-app="webShopApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="css/lib/bootstrap.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/app/style.css">
	
	<title>Webshop - home</title>
</head>
<body>
	<!-- Navigation bar -->	
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark py-1">
	  <a class="navbar-header navbar-brand" href="#/" style="font-size: 140%;">
	  	<img class="align-middle img-fluid mx-2" src="images/app-logo.png" width="36px" height="36px"></img>
	  	Webshop
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarMenu" data-ng-controller="navbarController">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item" data-ng-class="{ active : isActive('/')}"><a class="nav-link" href="#/">Home <span class="sr-only">(current)</span></a></li>
	      <li class="nav-item dropdown" data-ng-if="loggedInUser.role == 'ADMINISTRATOR'">
	        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true"><span class="fa fa-cog"></span> Config</a>
	        <div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown1">
	          <a class="dropdown-item" href="#/show-users">Users</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#/restaurants">Restaurants</a>
	          <a class="dropdown-item" href="#/articles">Articles</a>
	          <a class="dropdown-item" href="#/orders">Orders</a>
	          <a class="dropdown-item" href="#/vehicles">Vehicles</a>
	        </div>
	      </li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      <li class="nav-item " data-ng-class="{ active : isActive('/sign-up')}" data-ng-if="!loggedIn"><a class="nav-link" href="#/sign-up"><span class="fa fa-user"></span> Sign Up</a></li>
	      <li class="nav-item " data-ng-class="{ active : isActive('/log-in')}"  data-ng-if="!loggedIn"><a class="nav-link" href="#/log-in"><span class="fa fa-sign-in"></span> Login</a></li>
    	  <li class="nav-item dropdown" data-ng-if="loggedIn">
	        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"><span data-ng-class="{'fa fa-user' : loggedInUser.role == 'CUSTOMER', 'fa fa-shield' : loggedInUser.role == 'ADMINISTRATOR', 'fa fa-car' : loggedInUser.role == 'DELIVERER'}"></span> {{loggedInUser.username}}</a>
	        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
	          <a class="dropdown-item" href="#/my-acc">My account</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="" data-ng-click="logoutUser()">Logout</a>
	        </div>
	      </li>  	
    	</ul>
	  </div>
	</nav>

	<!-- div for different views -->
	<div data-ng-view></div>
	
	<div data-ng-controller="topButtonController">
		<button id="topBtnId" class="topBtn btn btn-warning" data-ng-click="scrollToTop()"><i class="fa fa-arrow-up"></i><br>TOP</button>
	</div>
	
	<script src="js/lib/angular.js"></script>
	<script src="js/lib/angular-route.js"></script>
	<script src="js/lib/jquery-3.4.1.js"></script>
	<script src="js/lib/bootstrap.js"></script>
	<script src="js/app/app.js"></script>
	<script src="js/app/controllers/topButtonController.js"></script>
	<script src="js/app/controllers/navbarController.js"></script>
	<script src="js/app/services/userService.js"></script>
</body>
</html>