<div class="container-fluid" data-ng-controller="profileController">
	<div class="row">
		<div class="col-3">
			<div class="row d-flex justify-content-center mt-5">
				<div class="card border-danger w-75">
					<div class="card-header text-danger">
						<h1 class="card-title text-center">{{user.username}}</h1>
					</div>
					<div class="card-body text-danger">
					  	<p class="card-text">First name: {{user.firstname}}</p>		    
						<p class="card-text">Last name: {{user.lastname}}</p>
						<p class="card-text">Email: {{user.email}}</p>
						<p class="card-text">Phone number: {{(!user.phoneNumber) ? '/' : user.phoneNumber}}</p>
						<p class="card-text">Address: {{(!user.address) ? '/' : user.address}}</p>
						<p class="card-text" data-ng-if="user.role == 'CUSTOMER'"><b>Bonus points: {{(!user.bonusPoints || user.bonusPoints == 0) ? '/' : user.bonusPoints}}</b></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-9">
		   <div data-ng-if="user.role == 'CUSTOMER'">
				<profile-customer></profile-customer>
			</div>
			<div data-ng-if="user.role == 'ADMINISTRATOR'">
				<profile-administrator></profile-administrator>
			</div>
			<div data-ng-if="user.role == 'DELIVERER'">
				<profile-deliverer></profile-deliverer>
			</div>
		</div>
	</div>
	<alerts></alerts>
	<article-category-modal></article-category-modal>
	<deliverer-modal></deliverer-modal>
	<deliverer-edit-modal></deliverer-edit-modal>
</div>