<div class="alert alert-success alert-dismissible fixed-top autoCloseAlert" role="alert" data-ng-if="successAlertVisibility">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Success!</h4>
    <p>{{successAlertMessage}}</p>
</div>

<div class="alert alert-danger alert-dismissible fixed-top autoCloseAlert" role="alert" data-ng-if="failAlertVisibility">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Error!</h4>
    <p>{{failAlertMessage}}</p>
</div>