<div data-ng-controller="orderController">
	<div class="border rounded bg-white cart" data-ng-if="role == 'CUSTOMER'">
		<h4 class="my-3 text-center text-primary"><span class="fa fa-shopping-cart mr-1"></span> Cart</h4>
		<hr>
		<h5 class="text-center text-primary mt-5" data-ng-if="!items || items.length == 0">Cart is still empty.</h5>
		<div class="container" data-ng-if="items && items.length > 0">		
			<div data-ng-repeat="item in items">
			  <div>
				  <div class="row" style="font-size: 90%;">
					  <div class="col-10">
					  	<p>{{item.amount}} x {{item.article.name}} <i class="fa fa-long-arrow-right text-primary"></i> ${{item.article.price * item.amount | number : 2}}</p>
					  </div>
					  <div class="col-2">
					  	<a class="text-primary" data-ng-click="dropItemFromCart(item)" style="cursor: pointer"><span class="fa fa-trash-o"></span></a>
					  </div>
			  	  </div>
			  </div>
			</div>
			<hr>
			<p class="my-2 font-weight-bold">Total price: ${{totalPrice | number : 2}}</p>
			<hr>	
		    <div class="text-center mb-3">
		    	<button class="btn btn-primary" data-ng-click="onOrderModalOpening()" data-toggle="modal" data-target="#orderModal">Order!</button>
		    </div>
		</div>
	</div>
	
	<alerts></alerts>
	
	<cart-modal></cart-modal>
</div>